@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/global" as *;
@use "./partials/typography" as *;


*{
    box-sizing:border-box;
}

.header {
    display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-bandSiteBlack;
  padding-top: 20px;
  padding-bottom:0;
  width: 100%;
  @include tablet{ 
    flex-direction:row;
}
  &__title {
    margin-bottom: 0.625rem;
    @include tablet{
    display:flex;
    padding-left:2rem;
    align-items:baseline
    }
     
    }

    &__title-link{
        text-decoration: none;
    }

    &__title-img {
      @include logo-bandsite;
      @include tablet{
        padding-left:2rem;
      }
    }


&__navbar {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}
    &__navbar-list {
      display: flex;
      list-style: none;
      padding-top: 0;
      margin-bottom: 0;
      justify-content: space-evenly;
      padding-left:0;

     @include tablet{
        justify-content: flex-start;
        gap:4rem;
        padding-left:6rem;
     }
    }
      &__navbar-list-item {
       a{
            display:flex;
            @include sectionHeaderM;
          text-decoration: none;
          color: $primary-white;
          font-size: $fontSize-sectionHeaderM;
          font-weight: $fontWeight-sectionHeaderM;
          opacity: 0.8;
          transition: opacity 0.3s, border-bottom 0.3s;
          padding-bottom:2.22rem;

          @include tablet{
            @include subHeaderDT;
          }

          .header__navbar-list-item-active {
            display: flex;
            font-weight: bold;
            opacity: 1;
            justify-content: flex-start;
            // border-bottom: .25rem solid $primary-white;
            // width:7rem;
          }
    
          &:active {
            opacity: 1;
            border-bottom: .25rem solid $primary-white;
            width:7rem;
          }
          
        }
      }
    }
  

.hero {
  display: flex;
  justify-content: center;
  padding-left: 1.5rem;
  background-image: url("../assets/Images/hero-bio.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  height: 27rem;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;

  @include tablet{
    height:40rem;
  }
  &__overlay-color {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $primary-bandSiteBlack;
    opacity: 0.5;
  }

  &__banner {
    display: flex;
    margin-top: 1.0575rem;
    top: 11.1875rem;
    &-title,
    &__banner-title{
      color: $primary-white;
      @include pageHeaderM;
      font-size:2.5rem;
      display: flex;
      position: relative;
      @include tablet{
        @include pageHeaderDT;
      }
    }
  }
}

.content {
  padding: 1.5rem 1rem 1rem 1rem;
  color: $primary-bandSiteBlack;
  width: 100%;

  @include tablet{
    padding: 3rem 2.25rem 3rem 2.25rem;
  }

  &__image {
    width: 100%;
    height: 29rem;
    padding-bottom:$padding-aheadlinesM;

    @include tablet{
        display:flex;
        margin:auto;
        width: 78%;
        height: 32rem;
        padding-bottom: $padding-aheadlinesDT;
    }
  }

  &__title {
    @include sectionHeaderM;
    @include tablet{
        @include sectionHeaderDT;
        padding-bottom:$padding-aheadlinesDT;
        font-size: 2.5rem;
        line-height: 1.375rem;
        display:flex;
        justify-content: center;
        width:50%;
        padding-top:36px;
    }
  }

  &__quote {
    @include bodyCopyM;
    width: 100%;
    font-weight:bold;
    padding-top:$padding-aheadlinesM;

    @include tablet{
        //display:flex;
        margin:auto;
        @include bodyCopyDTBold;
        display:flex;
        
    }
    &--boldone {
      font-weight: bold;
      display: flex;
      width: 100%;
      @include tablet{
        display:flex;
        margin:auto;
        @include bodyCopyDTBold;
        font-size:1.875rem;
        line-height: 2.375rem;
        justify-content: center;
        width:75%;
        flex-wrap:wrap;
        flex-direction: column;
    }
}

    &--boldtwo{
        @include bodyCopyM;
    font-weight: bold;
    display: flex;
    width: 100%;
    @include tablet{
        @include bodyCopyDTBold;
        font-size:1.2rem;
        line-height: 1.125rem;
        font-weight:bold;
        display:flex;
        width:52%;
        justify-content: center
    }
    }
}
  &__aboutband-title {
    @include subHeaderM;
  }
  &__aboutband-paraone {
    @include bodyCopyM;
    padding-bottom: $padding-btwComponentsM;
    width: 96%;
  }

  &__aboutband-paratwo {
    @include bodyCopyM;
    width: 96%;
  }
}

.photo-container {
  padding: 1rem;
  background-color: $secondary-alabaster;
  width: 100%;
  @include tablet{
    padding: 2rem;
  }

  &__title {
    @include sectionHeaderM;
    color: $primary-bandSiteBlack;
  }

  @include tablet{
    .photo-container__gallery{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        gap:2rem;
    }
  }
  &__gallery-image {
    width: 100%;
    height: 29rem;
    margin-bottom: 1rem;
    @include tablet{
        width:100%;
        height:100%;
        object-fit:cover;
    }
  }
}

.footer {
  background-color: $primary-bandSiteBlack;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;

  &__title {
    @include pageHeaderM;
    color: $primary-white;
  }

  &__social {
    display: flex;
    justify-content: flex-start;
    gap: 2.5rem;
    width: 50%;
  }
  &__banddetails {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    @include footerCopyM;
  }

  &__brand-img {
    @include logo-bandsite;
  }
  &__banddetails-bandmgmt-title {
    @include footerCopyM;
    color: $primary-white;
  }
  &__banddetails-bandmgmt-contact {
    @include footerCopyM;
    color: $primary-white;
  }

  &__copyright {
    @include footerCopyM;
    color: $primary-white;
  }
}
